/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333;
}

header {
    background: rgba(0, 0, 0, 0.1);
    background-image: url('https://images.unsplash.com/photo-1434648957308-5e6a859697e8?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #ffcc00;
}

nav {
    margin-top: 1em;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 45%;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-form {
    width: 30%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.container-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#cart-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#cart-container h2 {
    font-size: 1.5em;
    color: #333;
}

#cart-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-item {
    width: 45%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}
.container-form {
    width: 30%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.container-form h1 {
    font-size: 2em;
    color: #2c3e50; /* Cor principal */
}

.container-form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

.container-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.container-form button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}